* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(77, 72, 72);
  align-items: center;
}

.header-img {
  width: 70px;
}

.first-section {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 20px;
}

.second-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin: auto;
}

div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 220px;
  width: 180px;
}

.gallery-img {
  width: 150px;
}

hr {
  margin: 20px 0px 15px 0px;
  width: 30%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}