body{
    font-size: 16px;
}
h1{
    font-family: sans-serif;
    font-size: 60px;
    color: orange;
}
ul{
    background-color: aqua;
    line-height: 50px;
    text-align: center;
    
}
.texto{
    background-color:gray;
}
p{
    font-weight: 600;
    font-size: 3em;
    font-style: oblique;
    text-decoration: overline;
}
#amarelo{
    background-color: yellow;
}
#vermelho{
    background-color: red;
}
#marrom{
    background-color: brown;
}